.ticket.card {
  text-align: center;
  background-color: #FFE8A4;
}

.ticket.ticket-no-label {
  padding: 5px 20px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  background-color: white;
}

.ticket.ticket-no-title {
  font-size: 6px;
}

.ticket.ticket-no {
  font-size: 25px;
}


.ticket.card-subtitle {
  color: #A97700;
}
