.ticket-display-panel.col-lg-3 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.ticket-display-panel.card {
  text-align: center;
  background-color: #FFE8A4;
}

.ticket-display-panel.card-body {
  padding: 10px;
}

.ticket-display-panel.ticket-no-label {
  padding: 5px 50px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  background-color: white;
  display: inline-block;
}

.ticket-display-panel.ticket-no-title {
  font-size: 6px;
}

.ticket-display-panel.ticket-no {
  font-size: 25px;
}

.ticket-display-panel.card-subtitle {
  color: #A97700;
  display: inline;
  margin-left: 10px;
  margin-right: 30px;
}

.ticket-display-panel.card-title{
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 992px) {
  .ticket-display-panel.card-title, .ticket-display-panel.card-subtitle {
    display: block;
  }

  .ticket-display-panel.ticket-no {
    width: 80%;
    margin: auto;
  }

  .ticket-display-panel.card-subtitle {
    margin: 0;
  }

  .ticket-display-panel.ticket-no-label {
    padding: 5px 10px;
  }
}
