<div class="row ticket-display-panel">
  <div class="col-lg-3 ticket-display-panel">
    <div class="card ticket-display-panel">
      <div class="card-body ticket-display-panel">
        <h3 class="card-title">A</h3>
        <h5 class="card-subtitle text-muted mb-3">{{ticketTypeSeatLabel('A')}}</h5>
        <div class="card-text ticket-display-panel">13</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 ticket-display-panel">
    <div class="card h-100 ticket-display-panel">
    B
    </div>
  </div>
  <div class="col-lg-3 ticket-display-panel">
    <div class="card h-100 ticket-display-panel">
    C
    </div>
  </div>
  <div class="col-lg-3 ticket-display-panel">
    <div class="card h-100 ticket-display-panel">
      D
    </div>
  </div>
</div>
