<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">ショッピングセンター一覧</h1>

  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let shoppingCenter of shoppingCenters">
      <div class="card h-100">
        <a routerLink="/shopping-centers/{{shoppingCenter.id}}"><img class="card-img-top" src="../../../assets/shopping-center-{{shoppingCenter.id}}.jpg" alt="{{shoppingCenter.name}} {{shoppingCenter.branch}}"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a routerLink="/shopping-centers/{{shoppingCenter.id}}">{{shoppingCenter.name}}<span *ngIf="shoppingCenter.branch"> ({{shoppingCenter.branch}})</span></a>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
