.restaurant-rows .row+.row {
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px #b9bbbe;
}

.restaurant-image {
  text-align: center;
}

.ticket-button-row {
  margin-top: 10px;
}

.badge-cuisine {
  color: #fff;
  background-color: #FFB400;
}
