/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.btn-outline-primary {
  color: #004F8B;
  background-color: white;
  background-image: none;
  border-color: #004F8B;
}

.btn-primary:hover  {
  background-color: #508DBB;
  background-image: none;
  border-color: #004F8B;
}

.btn-primary, .btn-outline-primary:hover {
  color: #fff;
  background-color: #004F8B;
  border-color: #004F8B;
}

.btn-link {
  color: #004F8B;
}

a {
  color: #FF8300;
}

a:hover {
  color: #DA7000;
}

.breadcrumb {
  background-color: #FFE0C0;
}
