<div class="container">
  <div class="col-md-6 offset-md-3">
    <h2>ログイン</h2>
    <form (ngSubmit)="loginForm.form.valid && onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" [ngClass]="{'form-control': true, 'is-invalid': inputEmail.invalid}" id="inputEmail" name="inputEmail" placeholder="Enter email" [(ngModel)]="user.email" #inputEmail="ngModel" required email>
        <div *ngIf="loginForm.submitted && inputEmail.invalid" class="invalid-feedback">Email address is required or format invalid.</div>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" [ngClass]="{'form-control': true, 'is-invalid': inputPassword.invalid}" id="inputPassword" name="inputPassword" aria-describedby="passwordHelp" placeholder="Password" [(ngModel)]="user.password" #inputPassword="ngModel" required minlength="6">
        <small id="passwordHelp" class="form-text text-muted">Please enter at least 6 characters or numbers.</small>
        <div *ngIf="loginForm.submitted && inputPassword.invalid" class="invalid-feedback">Password is required or invalid.</div>
      </div>
      <button type="submit" class="btn btn-primary">ログイン</button><button type="button" class="btn btn-link" routerLink="/signup">登録</button>
    </form>
  </div>
</div>
