<div class="container">
  <h2> ログイン </h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" [(ngModel)]="user.email" name="inputEmail" required email>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp" placeholder="Password" [(ngModel)]="user.password" name="inputPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
