<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">ショッピングセンター一覧</h1>

  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let shoppingCenter of shoppingCenters">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{shoppingCenter.name}}</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
